/* ------- HERO ---------*/
.khero {
    height: 20rem;
    background-color: rgb(73, 6, 107);
    display: flex;
    align-items: center;
    justify-content: center;
}

.khero-container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.khero-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(3rem, 10vw, 5rem); 
    color: white;
    margin-top: 8rem;
}

/* ------- KOMİTE KARTLARI ---------*/
.komiteler-container {
    max-width: 1200px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,100rem)); 
    gap: 5rem;
    padding: 2rem;
    justify-content: center;
}

.komite-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
    border: 1px solid rgba(73, 6, 107, 0.1);
    display: flex;
    flex-direction: row;
}

.komite-card:hover {
    transform: translateY(-5px);
        transform: translateY(-2px);
  box-shadow: 0 2px 10px rgb(73, 6, 107);
}

.komite-image-wrapper {
    position: relative;
    height: 100%; 
    background: rgb(73, 6, 107);
    overflow: hidden;
    width: 25rem;
}

.komite-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.komite-content {
    padding: 1.5rem; 
    text-align: center;
    flex-grow: 1;
    width: 70%;
}

.komite-bsk {
    font-size: 1.6rem; 
    font-weight: 700;
    color: rgb(73, 6, 107);
    margin-bottom: 0.8rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

.komite-ack {
    font-size: 0.9rem; 
    color: #555;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}


/* ------- MOBİL DOKUNUŞLAR (Breakpoint) ---------*/
@media (max-width: 600px) {
    .komiteler-container {
        grid-template-columns: 1fr; 
        padding: 1rem;
    }
    
    .khero {
        height: 15rem;
    }
}