.khero{
    height: 20rem;
    background-color: rgb(73, 6, 107);
}

.khero-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.khero-title{
    font-family: "Bebas Neue";
    font-size: 5rem;
    color: white;
    margin-top: 8rem;
}

.komiteler{
    height: 50rem;
}