.hakkımızda {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hak-baslik,
.hak-ack {
  display: flex;
  justify-content: center;
  width: 70%;
  text-align: center;
}

.hak-baslik {
  font-family: "Bebas Neue";
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.hak-ack {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .hakkımızda {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .hakkımızda {
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal.active .hak-baslik {
  transition-delay: 0.2s;
}

.reveal.active .hak-ack {
  transition-delay: 0.4s;
}

.divider {
  width: 50px;
  height: 2px;
  background-color: rgb(73, 6, 107);
  margin: 10px 0;
}