.program{
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 10rem;
    margin-bottom: 5rem;
}

.programbsk{
    height: 5rem;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.program-container{
    margin-top: 3rem;
    display: flex;
    height: 100%;
    width: 30%;
    background-color: white;
    box-shadow: 0 10px 30px rgba(73, 6, 107, 0.6); 
    flex-direction: column;
    border: 1px solid rgba(73, 6, 107, 1);
    border-radius: 10px;
}

.program-date{
    height: 2rem;
    display: flex;
    font-size: 2rem;
    font-family: Bebas Neue;
    padding: 0.5rem;
}

hr {
    background-color: rgba(73, 6, 107);
}

.program-sec{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem;
    gap: 4rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.program-saat, .program-ack{
    font-size: 1.3rem;
    font-family: Montserrat;
}

.program-sec:hover {
    border-left: 5px solid rgba(73, 6, 107);
}

