.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.Baslik {
  position: relative;
  z-index: 1;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
  pointer-events: none;
  animation: electricFlicker 3s infinite;
}

.Baslik b {
  color: rgb(73, 6, 107);
  font-weight: 900;
}

.video-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.content-overlay {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.countdown {
  display: flex;
  gap: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

.time-box {
  background: rgba(15, 15, 15, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  min-width: 80px;
  border: 1px solid rgba(73, 6, 107, 0.8);
  box-shadow:
    0 0 10px rgba(73, 6, 107, 0.4),
    0 0 50px rgba(73, 6, 107, 0.2),
    inset 0 0 5px rgba(73, 6, 107, 0.3);
}

.time-box span {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.basvur-button {
  border-radius: 10px;
  background-color: rgba(73, 6, 107);
  color: white;
  font-family: "Bebas Neue";
  cursor: pointer;
  height: 4rem;
  width: 8rem;
  font-size: 1.5rem;
  border: none;
  margin-top: 2rem;
  transition: transform 0.3s ease;
  position: relative;
  letter-spacing: 1px;
}

.basvur-button a {
      text-decoration: none;
  color: white;
}

.basvur-button:hover {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .countdown {
    gap: 0.5rem;
  }
  .time-box {
    padding: 0.5rem;
    min-width: 60px;
    font-size: 0.8rem;
  }
  .time-box span {
    font-size: 1.5rem;
  }
}

@keyframes electricFlicker {
  0% {
    opacity: 1;
    text-shadow:
      0 0 4px var(--color),
      0 0 8px var(--color),
      0 0 16px var(--color);
  }

  4% {
    opacity: 0.2;
    text-shadow: none;
  }

  6% {
    opacity: 1;
    text-shadow:
      0 0 10px,
      0 0 20px var(--electric-flicker-color-anim),
      0 0 40px var(--electric-flicker-color-anim);
  }

  9% {
    opacity: 0;
    text-shadow: none;
  }

  12% {
    opacity: 1;
    text-shadow:
      0 0 6px var(--color),
      0 0 14px var(--color),
      0 0 30px var(--color);
  }

  100% {
    opacity: 1;
  }
}
