* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-color: rgb(73, 6, 107) rgba(12, 12, 12);
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}
