footer {
    margin-top: 5rem;
    height: 4rem; 
    background-color: rgb(73, 6, 107);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bsk {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 15px; 
}

.footer-insta {
    color: white;
    font-size: 2rem; 
    transition: transform 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-insta:hover {
    transform: scale(1.2);
    color: #E1306C; 
}